option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: yeolab_search.settings
    PYTHONPATH: /var/app/current/yeolab_search

  aws:elasticbeanstalk:container:python:
    WSGIPath: yeolab_search.wsgi:application

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && cd /var/app/current/yeolab_search && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && cd /var/app/current/yeolab_search && python manage.py collectstatic --noinput"
    leader_only: true

packages:
  yum:
    postgresql-devel: []
